# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/forge-1.8.8-11.15.0.1655-changelog.txt
/.classpath
/.classpath
/.project
/.gradle/
/.bin/
/.build/
/.eclipse/
